*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik Mono One', sans-serif;
  position: relative;
}
header nav{
  position: fixed;
  top: 0;
  right: 10%;
  width: 100%;
  z-index: 10;
}
nav, ul li{
  display: inline-block;
  height: 20px;
  margin-top: 15px;
  margin-right: 20px;
  text-align: right;
}
a{
  list-style: none;
  text-decoration: none;
  color: black;
  padding: 15px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
}
main{
  height: 60%;
  width: 100%;
  position: relative;
}
section{
  height: 100vh;
  width: 80%;
  margin: auto;
  position: relative;
}
div{
  height: 100%;
  width: 100%;
  display: block;
  bottom: 0;
  position: relative;
}
img{
  max-width: 90%;
  height:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 20%;
}
p{
  font-weight: 400;
  font-size: 55px;
  color: yellow;
  bottom: 10%;
  padding: 5px;
  text-align: center;
  position: absolute;
}
#pezza{
  background-color: red;
}
#tommy{
  background-color: pink;
}
#converse{
  background-color: green;
}
.resize{
  padding-bottom: 10%;
  max-width: 50%;
  height:auto;
}
